<html>
<head>
    <title>Template</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>        
    <div class="header">  
           <font color="white"><center>Question? Contact our award-winning suport team 1-866-303-6061</center></font>              
    </div>

    <div class="menu">
        <div class="logo">
            <a href="home" class="logo">Bukan Bapak</a>
        </div>
        <div class="menu_bar">
            <div class="dropdown">
            <button class="dropbtn">Features v</button>
             <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
             </div>
            </div>
          <a href="#about" class="h-nav">Benefits</a>
          <a href="#about" class="h-nav">Blog</a>
          <div class="dropdown">
            <button class="dropbtn">More v</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
          <a href="#about" class="h-nav">Login</a>
          <a href="#about"  style="border: 1px solid white; border-radius: 5px; padding: 10px; margin-top: 10px;">Try It
            Free</a> 
        </div>
    </div>
        <div class ="isi">
             
                <h1>Find Our Why Forbes Magazine Calls</br>
                    FreshBooks "Incredibly User Friendly"
                </h1>
                <h4>FreshBooks makes your accounting tasks easy, fast and secure.</br>
                    Start sending invoices, tracking time and capturing expenses in minutes.
                </h4>
                <div class="kolom">
                    <input type="text" name="Usename" placeholder="Usename" class="kolom1">
                    <input type="text" name="Password" placeholder="Password" class="kolom1">
                </div>
                <button type="button" name="button" class="kolom2">
                    <span>Masuk</span>
                </button>
                <h4>No credit card required. No Contracts. Cancel anytime    
                </h4>
    
            </div>      
</body>
</html>