<html>
    <head>
        <meta charset="utf-8">
        <title>card</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
    </head>
    <body>
        <div class="box">
            <div class="boxphoto">
                <img src="1.jpg">
            </div>
            <ul class="social-icon">
                <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
            </ul>
            <div class="detail">
                <h2>UI/UX Designer<br><span>Card Gambar</span></h2>
            </div>
        </div>   
    </body>
</html>